Repository myzhang1029/penguin-rs: changes, and which Codecov flags are due for each by the changed paths.
All: multiplexer, server, client

.codecov.yml:

component_management:
  default_rules:
    paths:
      - penguin/src/**
  individual_components:
    - component_id: rlib_penguin_mux
      name: multiplexer
      paths:
        - penguin-mux/**
    - component_id: rlib_penguin_server
      name: server
      paths:
        - penguin/src/server/**
    - component_id: rlib_penguin_client
      name: client
      paths:
        - penguin/src/client/**

Parsing support for reverse remotes
  penguin/src/arg/mod.rs
  penguin/src/arg/remote_spec.rs
Due: none

Reject invalid configs
  penguin/src/arg/mod.rs
  penguin/src/arg/remote_spec.rs
  penguin/src/client/handle_remote/mod.rs
Due: client

Bundle tcptunnelchecker in the test suite
  .github/workflows/stress.sh
  .github/workflows/stress.yml
  Cargo.lock
  penguin/Cargo.toml
  penguin/src/tests/mod.rs
  penguin/src/tests/tcptunnelchecker.rs
Due: none

Reorganize mux::stream by isolating std- and tokio- components
  penguin-mux/src/stream.rs
Due: multiplexer

Fix reborrowing
  penguin-mux/src/stream.rs
Due: multiplexer

Make default tproxy port 8081
  penguin/src/arg/remote_spec.rs
Due: none

Decouple root selection from rustls selection
  .config/mutants.toml
  .github/workflows/clippy.yml
  .github/workflows/full-test.sh
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
  README.md
  penguin/Cargo.toml
  penguin/main.rs
  penguin/src/server/acme/mod.rs
  penguin/src/server/mod.rs
  penguin/src/server/service.rs
  penguin/src/tests.rs
  penguin/src/tls/maybe_tls.rs
  penguin/src/tls/mod.rs
  penguin/src/tls/rustls.rs
Due: server

Allow the dn42 root CA
  .github/workflows/full-test.sh
  Cargo.lock
  README.md
  penguin/Cargo.toml
  penguin/src/tls/rustls.rs
Due: none

Upgrade base64 to 0.23
  Cargo.lock
  fuzz/Cargo.lock
  penguin/Cargo.toml
Due: none

Use some workspace level deps
  Cargo.lock
  Cargo.toml
  async-acceptor/Cargo.toml
  cow-bytes/Cargo.toml
  penguin-mux/Cargo.toml
  penguin-socks/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

Move lints.rust to workspace
  Cargo.toml
  penguin-mux/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

Make sure the CI shell is bash
  .github/workflows/rust-test.yml
Due: none

Remove redundant clone
  penguin/src/client/mod.rs
  penguin/src/tests.rs
Due: client

No longer ask for a static BACKEND_SUPPORTS_HTTP2 from callers
  fuzz/fuzz_targets/http_server_input.rs
  fuzz/fuzz_targets/http_server_input_tls.rs
  penguin/main.rs
  penguin/src/server/mod.rs
  penguin/src/server/service.rs
  penguin/src/tests.rs
Due: server

Make test_flow_control run in loom
  penguin-mux/src/stream.rs
Due: multiplexer

Make test_copy_bidirectional_normal run in loom
  penguin-mux/src/stream_tools/copy_bidirectional.rs
Due: multiplexer

Move CopyBidirectional to stream_tools
  penguin-mux/src/lib.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/stream_tools/copy_bidirectional.rs
  penguin-mux/src/stream_tools/mod.rs
Due: multiplexer

Make fuzz targets a part of the workspace
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  penguin/Cargo.toml
Due: none

Mark verify_invariants with cfg(debug_assertions)
  cow-bytes/src/pbuf.rs
Due: none

Update rust deps
  Cargo.lock
Due: none

Reimplement CopyBidirectional with our own buf filling logic
  penguin-mux/src/stream.rs
  penguin/src/client/handle_remote/socks.rs
Due: multiplexer, client

debug wip
  penguin/src/tests/tcptunnelchecker.rs
Due: none

Implement GreedyBufReader
  penguin-mux/src/lib.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/stream_tools/copy_bidirectional.rs
  penguin-mux/src/stream_tools/greedy_buf_reader.rs
  penguin-mux/src/stream_tools/mod.rs
  penguin/src/client/handle_remote/socks.rs
Due: multiplexer, client

Fix cancellation when a stream request is in progress
  penguin/src/client/mod.rs
  penguin/src/client/ws_connect.rs
Due: client

Fix clippy
  Cargo.lock
  penguin/src/client/mod.rs
Due: client

Let cargo assume readme and fix missing lints
  async-acceptor/Cargo.toml
  cow-bytes/Cargo.toml
  fuzz/Cargo.toml
  penguin-mux/Cargo.toml
  penguin-socks/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

Add (beta) SELinux service confinement definition
  tools/selinux/rusty-penguin.fc
  tools/selinux/rusty-penguin.if
  tools/selinux/rusty-penguin.sh
  tools/selinux/rusty-penguin.te
  tools/selinux/rusty_penguin_selinux.spec
Due: none

Compatibility with Debian SELinux
  tools/selinux/.gitignore
  tools/selinux/rusty-penguin.fc
  tools/selinux/rusty-penguin.te
Due: none

Make SELinux network access level tunable
  tools/selinux/rusty-penguin.te
  tools/selinux/rusty_penguin_selinux.spec
Due: none
