Repository myzhang1029/penguin-rs: changes, and which Codecov flags are due for each by the changed paths.
All: multiplexer, server, client

.codecov.yml:

component_management:
  default_rules:
    paths:
      - penguin/src/**
  individual_components:
    - component_id: rlib_penguin_mux
      name: multiplexer
      paths:
        - penguin-mux/**
    - component_id: rlib_penguin_server
      name: server
      paths:
        - penguin/src/server/**
    - component_id: rlib_penguin_client
      name: client
      paths:
        - penguin/src/client/**

Fuzzer for remote parser
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/remote_parser.rs
Due: none

Parsing support for HTTP proxy remotes
  penguin/src/client/handle_remote/mod.rs
  penguin/src/parse_remote.rs
Due: client

Add http module hooks
  penguin/src/client/handle_remote/http.rs
  penguin/src/client/handle_remote/mod.rs
Due: client

Reorder features in Cargo.toml
  penguin/Cargo.toml
Due: none

Feature-gate http proxy support
  penguin/Cargo.toml
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/tproxy.rs
Due: client

CONNECT http proxy implementation
  penguin/Cargo.toml
  penguin/src/client/handle_remote/http.rs
  penguin/src/http/mod.rs
  penguin/src/lib.rs
  penguin/src/server/service.rs
Due: server, client

Support other methods
  penguin/src/client/handle_remote/http.rs
Due: client

Fix test import
  penguin/src/tests.rs
Due: none

Fix non-CONNECT
  penguin/Cargo.toml
  penguin/src/client/handle_remote/http.rs
Due: client

Remove dbg
  penguin/src/client/handle_remote/http.rs
Due: client

Reduce wrapper complexity on IncomingOrFullBody
  penguin/src/client/handle_remote/http.rs
  penguin/src/http/mod.rs
Due: client

Move forwarding header generation to crate::http
  penguin/src/client/handle_remote/http.rs
  penguin/src/http/body.rs
  penguin/src/http/mod.rs
  penguin/src/http/proxy.rs
  penguin/src/server/service.rs
Due: server, client

Add test
  penguin/src/http/body.rs
  penguin/src/tests.rs
Due: none

Fix feature gates
  penguin/Cargo.toml
Due: none

Add more test combinations
  .github/workflows/rust-build.yml
Due: none

Prepare for proxy connection
  penguin/src/client/mod.rs
  penguin/src/client/ws_connect.rs
  penguin/src/tests.rs
  penguin/src/tls/mod.rs
Due: client

Make --proxy a Uri
  penguin/src/arg.rs
Due: none

Adjust cfg options to reduce warnings
  penguin/src/arg.rs
  penguin/src/parse_remote.rs
  penguin/src/server/service.rs
  penguin/src/tests.rs
  penguin/src/tls/rustls.rs
Due: server

Add new features to README
  README.md
Due: none

Resolve clippy
  penguin-mux/src/task.rs
Due: multiplexer

Allow the user to specify outgoing bind addr
  penguin/src/arg.rs
  penguin/src/server/forwarder.rs
  penguin/src/server/mod.rs
  penguin/src/server/service.rs
  penguin/src/server/websocket.rs
Due: server

Split arg into files
  penguin/src/arg/backend_url.rs
  penguin/src/arg/bind_addr.rs
  penguin/src/arg/header.rs
  penguin/src/arg/mod.rs
  penguin/src/arg/server_url.rs
Due: none

Move parse_remote to arg::remote_spec
  penguin/src/arg/mod.rs
  penguin/src/arg/remote_spec.rs
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/mod.rs
  penguin/src/client/ws_connect.rs
  penguin/src/lib.rs
  penguin/src/server/mod.rs
  penguin/src/tests.rs
Due: server, client

Remove module name from error type names
  penguin/src/arg/backend_url.rs
  penguin/src/arg/header.rs
  penguin/src/arg/server_url.rs
Due: none

Slight ServerUrl rewrite
  penguin/src/arg/mod.rs
  penguin/src/arg/server_url.rs
Due: none

Unify resolver code in forwarder
  penguin/src/server/forwarder.rs
Due: server

Add test
  penguin/src/tests.rs
Due: none

Exclude macOS from the outgoing_ip test
  penguin/src/tests.rs
Due: none

Use derive_more to implement some traits
  Cargo.lock
  penguin/Cargo.toml
  penguin/main.rs
  penguin/src/arg/backend_url.rs
  penguin/src/arg/bind_addr.rs
  penguin/src/arg/remote_spec.rs
  penguin/src/arg/server_url.rs
  penguin/src/server/acme/challenge_helper.rs
Due: server

Test remote Display
  penguin/src/arg/remote_spec.rs
Due: none

More loom tests
  .github/workflows/rust-test.yml
  penguin-mux/src/stream.rs
Due: multiplexer

wip
  penguin-mux/src/stream.rs
Due: multiplexer

Fix remote Display tests
  penguin/src/arg/remote_spec.rs
Due: none

Update rust deps
  Cargo.lock
Due: none

Reorder items in remote_spec.rs
  penguin/src/arg/remote_spec.rs
Due: none

Allow IDN in RemoteSpec
  Cargo.lock
  penguin/Cargo.toml
  penguin/src/arg/remote_spec.rs
Due: none

Remove now-incorrect Hash
  penguin/src/arg/remote_spec.rs
Due: none

Merge match arms
  penguin/src/arg/remote_spec.rs
Due: none

Support IDN in backend and server URLs
  penguin/src/arg/backend_url.rs
  penguin/src/arg/mod.rs
  penguin/src/arg/server_url.rs
  penguin/src/arg/url_common.rs
Due: none

Default to rustls/aws-lc-rs
  penguin/Cargo.toml
Due: none
