Repository myzhang1029/penguin-rs: changes, and which Codecov flags are due for each by the changed paths.
All: multiplexer, server, client

Remove the `FinalizedFrame` type and queue `Message` directly
  penguin-mux/src/frame.rs
  penguin-mux/src/lib.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/task.rs
  penguin-mux/src/ws.rs
Due: multiplexer

Queue pings asynchronously like in-band data
  penguin-mux/src/lib.rs
  penguin-mux/src/task.rs
Due: multiplexer

Restructure `last_pong_timestamp` into a `Mutex`
  penguin-mux/src/lib.rs
  penguin-mux/src/task.rs
Due: multiplexer

Update readme
  README.md
Due: none

Make `bench_stream_throughput` write from the client
  penguin-mux/benches/stream_throughput.rs
Due: multiplexer

Restructure benches so setup code is shared and not timed
  penguin-mux/benches/stream_throughput.rs
Due: multiplexer

Add bench blackboxes
  penguin-mux/benches/stream_throughput.rs
Due: multiplexer

Vectored frame support
  penguin-mux/src/frame.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/task.rs
Due: multiplexer

Implement `poll_write_vectored`
  penguin-mux/src/stream.rs
Due: multiplexer

Use vectored write in CopyBidirectional
  penguin-mux/src/frame.rs
  penguin-mux/src/stream.rs
Due: multiplexer

Use two worker threads in bench
  penguin-mux/benches/stream_throughput.rs
Due: multiplexer

Expose `append_push_data` as a frame API
  penguin-mux/src/frame.rs
  penguin-mux/src/stream.rs
Due: multiplexer

Add missing test
  penguin-mux/src/frame.rs
  penguin-mux/src/stream.rs
Due: multiplexer

New performance measurements
  README.md
Due: none

Simplify `CopyBidirectional::poll_write_us`
  penguin-mux/src/stream.rs
Due: multiplexer

Fix old comments and no longer guard truly unreachable paths
  penguin-mux/src/lib.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/task.rs
  penguin/src/arg/remote_spec.rs
Due: multiplexer

Replace old references to ports with flows
  penguin-mux/src/lib.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/task.rs
  penguin-mux/src/tests.rs
Due: multiplexer

Demote failure of mux Drop to debug
  penguin-mux/src/lib.rs
Due: multiplexer

Increase benchmark write size, fix counting, add DuplexStream benches
  penguin-mux/benches/stream_throughput.rs
Due: multiplexer

Make test --verbose optional
  .github/workflows/test-coverage.sh
Due: none

Implement our traits on yawc
  Cargo.lock
  penguin-mux/Cargo.toml
  penguin-mux/benches/stream_throughput.rs
  penguin-mux/src/ws.rs
Due: multiplexer

Reject zero flow IDs
  penguin-mux/benches/stream_throughput.rs
  penguin-mux/src/hashmap.rs
  penguin-mux/src/lib.rs
  penguin-mux/src/task.rs
  penguin-mux/src/tests.rs
Due: multiplexer

wip probably will never merge
  Cargo.lock
  penguin-mux/Cargo.toml
  penguin-mux/src/frame.rs
  penguin-mux/src/lib.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/task.rs
Due: multiplexer

Make OpCode include version
  penguin-mux/src/frame.rs
Due: multiplexer

Ping in a separate task
  penguin-mux/src/lib.rs
  penguin-mux/src/task.rs
  penguin-mux/src/timing.rs
Due: multiplexer

Let the user decide if backend gets X-Forwarded-*
  penguin-mux/src/timing.rs
  penguin/src/arg/mod.rs
  penguin/src/server/mod.rs
  penguin/src/server/service.rs
Due: multiplexer, server

Logic simplification
  penguin-mux/src/lib.rs
Due: multiplexer

Allow the use of `CopyBidirectional` and `AsyncAcceptable` on `!Unpin`
  Cargo.lock
  async-acceptor/src/async_acceptable.rs
  penguin-mux/Cargo.toml
  penguin-mux/src/stream.rs
  penguin/src/client/handle_remote/http.rs
  penguin/src/client/handle_remote/socks.rs
  penguin/src/client/handle_remote/tcp.rs
Due: multiplexer, client

Resolve clippy
  penguin-mux/src/lib.rs
Due: multiplexer

`LongChain` type
  cow-bytes/src/lib.rs
  cow-bytes/src/pbuf.rs
Due: none

Update fuzz code
  fuzz/Cargo.lock
  fuzz/fuzz_targets/http_server_input.rs
  fuzz/fuzz_targets/http_server_input_tls.rs
Due: none

Fix clippy
  cow-bytes/src/pbuf.rs
Due: none

Rewrite HTTP proxy tests
  penguin/Cargo.toml
  penguin/src/tests.rs
Due: none

Remove a few hardcoded ports
  penguin/src/tests.rs
Due: none

Fix flow_id logging
  penguin-mux/src/stream.rs
  penguin-mux/src/task.rs
Due: multiplexer

Make sure errors in CopyBidirectional is not masked by Pending
  penguin-mux/src/stream.rs
Due: multiplexer

Reimplement CopyBidirectional with our own buf filling logic
  penguin-mux/src/stream.rs
  penguin/src/client/handle_remote/socks.rs
Due: multiplexer, client

Update tokio-tungstenite to 0.30
  .github/workflows/cross-releases.yml
  Cargo.lock
  penguin-mux/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

Rewrite remote help
  penguin/src/arg/mod.rs
  penguin/src/arg/remote_spec.rs
Due: none

Path conditions:
  multiplexer: any of: penguin-mux/**
  server: any of: penguin/src/server/**
  client: any of: penguin/src/client/**
