Repository myzhang1029/penguin-rs: changes, and which Codecov flags are due for each by the changed paths.
All: multiplexer, server, client

.codecov.yml:

component_management:
  default_rules:
    paths:
      - penguin/src/**
  individual_components:
    - component_id: rlib_penguin_mux
      name: multiplexer
      paths:
        - penguin-mux/**
    - component_id: rlib_penguin_server
      name: server
      paths:
        - penguin/src/server/**
    - component_id: rlib_penguin_client
      name: client
      paths:
        - penguin/src/client/**

Timeout if Ping is not Pong'ed in time (#130)
  penguin-mux/src/config.rs
  penguin-mux/src/lib.rs
  penguin-mux/src/task.rs
  penguin-mux/src/tests.rs
  penguin-mux/src/timing.rs
  penguin/src/arg.rs
  penguin/src/client/maybe_retryable.rs
  penguin/src/client/mod.rs
  penguin/src/tests.rs
Due: multiplexer, client

Refactor too many args
  penguin/src/client/mod.rs
Due: client

Initial trpoxy support
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
  Cargo.lock
  penguin/Cargo.toml
  penguin/src/arg.rs
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/tproxy.rs
  penguin/src/parse_remote.rs
  penguin/src/tests.rs
Due: client

Initial tproxy support
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
  Cargo.lock
  penguin/Cargo.toml
  penguin/src/arg.rs
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/tproxy.rs
  penguin/src/parse_remote.rs
  penguin/src/tests.rs
Due: client

Codecov only one flag per upload
  .github/workflows/rust-test.yml
Due: none

Fix CI filter
  .github/workflows/rust-test.yml
Due: none

Properly terminate tproxy test tasks
  penguin/src/tests.rs
Due: none

Test UDP timeout
  penguin/src/config.rs
  penguin/src/tests.rs
Due: none

Clippy fix
  penguin/src/client/mod.rs
Due: client

Refresh UDP client entry when a reply arrives
  penguin/src/client/handle_remote/udp.rs
  penguin/src/client/mod.rs
Due: client

Bump version to 0.8.1
  Cargo.lock
  penguin-mux/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

More loom tests
  .github/workflows/rust-test.yml
  penguin-mux/src/stream.rs
Due: multiplexer

Debugging with dhat
  Cargo.lock
  penguin/Cargo.toml
  penguin/main.rs
  penguin/src/server/mod.rs
Due: server

Generate RPM
  penguin/Cargo.toml
Due: none

Add cargo-deb support
  penguin/Cargo.toml
  tools/rusty-penguin.service
Due: none

Matrix variable to decide Linux package build
  .github/workflows/cross-releases.yml
Due: none

Upload only packages to artifacts
  .github/workflows/cross-releases.yml
  .github/workflows/macos-releases.yml
Due: none

Merge build and move binary steps
  .github/workflows/cross-releases.yml
  .github/workflows/macos-releases.yml
Due: none

Install cargo cross with baptiste0928/cargo-install
  .github/workflows/cross-releases.yml
Due: none

Apply concurrency group to releases
  .github/workflows/cross-releases.yml
  .github/workflows/macos-releases.yml
Due: none

Fix packaging
  .github/workflows/cross-releases.yml
  Cargo.toml
Due: none

Upload binaries and packages to ZipZen
  .github/workflows/cross-releases.yml
  .github/workflows/macos-releases.yml
Due: none

Hardcode filenames for ZipZen
  .github/workflows/cross-releases.yml
  .github/workflows/macos-releases.yml
Due: none

Documentation and version string tweaks
  penguin-mux/src/stream.rs
  penguin/Cargo.toml
  penguin/src/arg.rs
Due: multiplexer

Allow deadlock detection to run in tests too
  penguin-mux/Cargo.toml
  penguin-mux/src/deadlock_detection.rs
  penguin-mux/src/lib.rs
  penguin-mux/src/tests.rs
  penguin/Cargo.toml
  penguin/main.rs
  penguin/src/tests.rs
Due: multiplexer

Initialize logging before deadlock detection thread
  penguin-mux/src/deadlock_detection.rs
  penguin-mux/src/tests.rs
  penguin/src/tests.rs
Due: multiplexer

Update rust deps
  Cargo.lock
Due: none

Allow the server to terminate gracefully on Ctrl-C
  penguin/src/server/mod.rs
Due: server

Option for debugging with dhat
  Cargo.lock
  penguin/Cargo.toml
  penguin/main.rs
Due: none

Add README reference to ZipZen
  README.md
Due: none

Fix HTTP/2 to HTTP/1.1 backend (#135)
  penguin/Cargo.toml
  penguin/main.rs
  penguin/src/server/mod.rs
  penguin/src/server/service.rs
  penguin/src/tests.rs
Due: server

Reduce recreation of `Request` and `Response`
  penguin/src/server/service.rs
Due: server

Update codecov action to v5
  .github/workflows/rust-test.yml
Due: none

Specify os for codecov
  .github/workflows/rust-test.yml
Due: none

Test one more backend case
  penguin/src/server/service.rs
Due: server

Bump version to 0.8.2
  Cargo.lock
  penguin-mux/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

Reorganize lints and conditional macros
  .clippy.toml
  penguin-mux/src/config.rs
  penguin-mux/src/task.rs
  penguin/main.rs
  penguin/src/arg.rs
  penguin/src/client/mod.rs
  penguin/src/lib.rs
  penguin/src/parse_remote.rs
  penguin/src/server/service.rs
  penguin/src/tls/maybe_tls.rs
  penguin/src/tls/mod.rs
  penguin/src/tls/native.rs
  penguin/src/tls/rustls.rs
Due: multiplexer, server, client

Bump console-subscriber to 0.5
  Cargo.lock
  penguin/Cargo.toml
Due: none

Remove unused lint expectation
  penguin/src/tls/native.rs
Due: none
