Repository myzhang1029/penguin-rs: changes, and which Codecov flags are due for each by the changed paths.
All: multiplexer, server, client

Modify codecov components
  .codecov.yml
Due: none

Use `into_copy_bidirectional` in tproxy
  penguin/src/client/handle_remote/tproxy.rs
Due: client

Box socks streams
  penguin/src/client/handle_remote/socks.rs
  penguin/src/server/forwarder.rs
Due: server, client

Allow runtimes other than tokio
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
  Cargo.lock
  penguin-mux/Cargo.toml
  penguin-mux/src/lib.rs
  penguin-mux/src/task.rs
  penguin/src/client/handle_remote/socks.rs
Due: multiplexer, client

Add more test combinations
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
Due: none

Fix missing tokio/io-util on penguin-socks and async-acceptor/test
  async-acceptor/Cargo.toml
  penguin-socks/Cargo.toml
Due: none

Improve docs and internal error handling
  penguin-mux/src/task.rs
Due: multiplexer

Add more test combinations
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
  Cargo.lock
  async-acceptor/Cargo.toml
  penguin-mux/Cargo.toml
  penguin-socks/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

Make server_main re-callable
  penguin/src/server/mod.rs
Due: server

Expose some server functions
  penguin/src/server/mod.rs
  penguin/src/server/service.rs
Due: server

Fuzzing for http server
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/http_server_input.rs
  fuzz/fuzz_targets/http_server_input_tls.rs
  fuzz/fuzz_targets/remote_parser.rs
Due: none

Modify feature flags
  penguin/Cargo.toml
  penguin/src/tests.rs
Due: none

Make it possible to test tls without acme
  penguin/Cargo.toml
Due: none

Use `derive_more` in `penguin-mux` and remove unnecessary internal methods
  Cargo.lock
  fuzz/Cargo.lock
  penguin-mux/Cargo.toml
  penguin-mux/src/frame.rs
  penguin-mux/src/lib.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/task.rs
  penguin-mux/src/tests.rs
  penguin-mux/src/timing.rs
  penguin/src/tests.rs
Due: multiplexer

Implement `From<&[u8]>` for `Frame`
  penguin-mux/src/frame.rs
Due: multiplexer

Split `CowBytes` into its own crate
  Cargo.lock
  Cargo.toml
  cow-bytes/Cargo.toml
  cow-bytes/src/lib.rs
  penguin-mux/Cargo.toml
  penguin-mux/src/frame.rs
Due: multiplexer

Implement some more methods for `CowBytes`
  cow-bytes/Cargo.toml
  cow-bytes/src/lib.rs
  cow-bytes/src/macros.rs
  penguin-mux/src/frame.rs
  penguin-mux/src/task.rs
Due: multiplexer

Add more cow-bytes traits
  cow-bytes/src/lib.rs
  cow-bytes/src/macros.rs
Due: none

Update rust deps
  Cargo.lock
Due: none

Modify category slugs
  cow-bytes/Cargo.toml
  cow-bytes/README.md
  penguin-mux/Cargo.toml
  penguin-socks/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

Make `ReusableListener` newable
  Cargo.lock
  async-acceptor/Cargo.toml
  async-acceptor/src/stdio.rs
Due: none

Import from `core` where possible in `penguin-mux`
  penguin-mux/benches/stream_throughput.rs
  penguin-mux/src/config.rs
  penguin-mux/src/deadlock_detection.rs
  penguin-mux/src/dupe.rs
  penguin-mux/src/frame.rs
  penguin-mux/src/lib.rs
  penguin-mux/src/loom.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/task.rs
  penguin-mux/src/tests.rs
  penguin-mux/src/timing.rs
  penguin-mux/src/ws.rs
  penguin-socks/src/v4.rs
  penguin-socks/src/v5.rs
Due: multiplexer

Construct `IntMap` explicitly
  penguin-mux/Cargo.toml
  penguin-mux/src/lib.rs
  penguin-mux/src/task.rs
  penguin/src/client/mod.rs
  penguin/src/server/websocket.rs
Due: multiplexer, server, client

Add alloc imports, hashbrown, and feature modifications
  Cargo.lock
  penguin-mux/Cargo.toml
  penguin-mux/src/frame.rs
  penguin-mux/src/lib.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/task.rs
  penguin-mux/src/tests.rs
  penguin-mux/src/timing.rs
  penguin-mux/src/ws.rs
Due: multiplexer

Remove the Dupe trait
  Cargo.lock
  penguin-mux/Cargo.toml
  penguin-mux/benches/stream_throughput.rs
  penguin-mux/src/dupe.rs
  penguin-mux/src/lib.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/task.rs
  penguin-mux/src/tests.rs
  penguin/src/client/handle_remote/socks.rs
  penguin/src/client/handle_remote/udp.rs
  penguin/src/client/mod.rs
  penguin/src/client/ws_connect.rs
  penguin/src/http/proxy.rs
  penguin/src/server/acme/mod.rs
  penguin/src/server/forwarder.rs
  penguin/src/server/mod.rs
  penguin/src/server/service.rs
  penguin/src/server/websocket.rs
  penguin/src/tls/rustls.rs
Due: multiplexer, server, client

Reword `IntKey` to be generic over maps
  penguin-mux/Cargo.toml
  penguin-mux/src/int_key.rs
  penguin-mux/src/lib.rs
  penguin/src/client/mod.rs
Due: multiplexer, client

Make `MuxStream::do_shutdown` a public method
  penguin-mux/src/stream.rs
Due: multiplexer

Make all operations of `MuxStream` available without tokio
  penguin-mux/src/stream.rs
Due: multiplexer

Abstract out `std::time::Instant`
  penguin-mux/src/lib.rs
  penguin-mux/src/task.rs
  penguin-mux/src/timing.rs
Due: multiplexer

Abstract out `Rng`
  penguin-mux/Cargo.toml
  penguin-mux/src/hashmap.rs
  penguin-mux/src/lib.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/tests.rs
  penguin-mux/src/timing.rs
  penguin/src/client/mod.rs
Due: multiplexer, client

no_std locking
  Cargo.lock
  penguin-mux/Cargo.toml
  penguin-mux/src/loom.rs
Due: multiplexer

Gate tokio-time and tokio-io-util
  .github/workflows/rust-build.yml
  penguin-mux/Cargo.toml
  penguin-mux/src/lib.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/task.rs
  penguin-mux/src/tests.rs
  penguin-mux/src/timing.rs
Due: multiplexer

Add more test combinations
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
  .github/workflows/test-coverage.sh
  .gitignore
  penguin-mux/Cargo.toml
  penguin-mux/src/frame.rs
  penguin-mux/src/stream.rs
  penguin-mux/src/tests.rs
Due: multiplexer

Use `futures_util::select_biased!`
  Cargo.lock
  penguin-mux/Cargo.toml
  penguin-mux/src/task.rs
Due: multiplexer

Redesign mux new methods
  fuzz/fuzz_targets/socket_input.rs
  penguin-mux/benches/stream_throughput.rs
  penguin-mux/src/lib.rs
  penguin-mux/src/task.rs
  penguin-mux/src/tests.rs
  penguin-mux/src/timing.rs
  penguin/src/client/mod.rs
  penguin/src/server/websocket.rs
Due: multiplexer, server, client

Optimize task polling order for throughput
  penguin-mux/src/task.rs
Due: multiplexer

Make bench reproducible
  penguin-mux/benches/stream_throughput.rs
Due: multiplexer

Add must_use
  penguin-mux/src/timing.rs
Due: multiplexer

Use nextest for loom
  .github/workflows/test-coverage.sh
Due: none

Path conditions:
  multiplexer: any of: penguin-mux/**
  server: any of: penguin/src/server/**
  client: any of: penguin/src/client/**
