Repository myzhang1029/penguin-rs: changes, and which Codecov flags are due for each by the changed paths.
All: multiplexer, server, client

Some systemd security tuning
  tools/rusty-penguin.service
Due: none

More systemd hardening options
  tools/rusty-penguin.service
Due: none

Separate option for setting the SNI
  penguin/src/arg.rs
  penguin/src/client/ws_connect.rs
  penguin/src/tests.rs
  penguin/src/tls/mod.rs
Due: client

Add tests
  penguin/Cargo.toml
  penguin/src/arg.rs
  penguin/src/tests.rs
Due: none

Fix formatting
  penguin/src/tests.rs
Due: none

Upload package files to GH releases too
  .github/workflows/cross-releases.yml
  .github/workflows/macos-releases.yml
Due: none

Update rust deps
  Cargo.lock
Due: none

Fix client requesting h2 in ALPN
  penguin/src/server/acme/mod.rs
  penguin/src/tls/mod.rs
  penguin/src/tls/rustls.rs
Due: server

Remove crypto feature from rcgen
  penguin/Cargo.toml
Due: none

Add ProcSubset=pid
  tools/rusty-penguin.service
Due: none

Add syscall filters
  Cargo.lock
  tools/rusty-penguin.service
Due: none

Fix unnecessary macro reexport
  penguin/src/parse_remote.rs
Due: none

Improve parse_remote error messages
  penguin/src/parse_remote.rs
Due: none

Reduce type complexity
  penguin/src/parse_remote.rs
Due: none

Fix index out of bound
  penguin/src/parse_remote.rs
Due: none

Improve error messages
  penguin-mux/src/frame.rs
  penguin-mux/src/lib.rs
  penguin/src/arg.rs
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/socks/mod.rs
  penguin/src/client/mod.rs
  penguin/src/client/ws_connect.rs
  penguin/src/parse_remote.rs
  penguin/src/server/acme/challenge_helper.rs
  penguin/src/server/acme/mod.rs
  penguin/src/server/forwarder.rs
  penguin/src/server/mod.rs
  penguin/src/server/service.rs
  penguin/src/tls/mod.rs
Due: multiplexer, server, client

Update rust deps and remove ZipZen
  .github/workflows/cross-releases.yml
  .github/workflows/macos-releases.yml
  Cargo.lock
  README.md
Due: none

Restrict bytes>=1.11.1 for RUSTSEC-2026-0007
  Cargo.lock
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  penguin-mux/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

Consistent error messages
  penguin-mux/src/lib.rs
Due: multiplexer

Workaround for djc/instant-acme#258
  .github/workflows/pebble.sh
  penguin/src/server/acme/challenge_helper.rs
  penguin/src/tests.rs
Due: server

Update rand to 0.10
  Cargo.lock
  penguin-mux/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

Update rust deps and fix new lints
  Cargo.lock
  penguin/src/server/acme/mod.rs
Due: server

Use instant-acme 0.8.5
  .github/workflows/pebble.sh
  Cargo.lock
Due: none

Solve codecov action deprecation
  .github/workflows/rust-test.yml
Due: none

Remove x86 macos tests
  .github/workflows/rust-test.yml
Due: none

Update rust deps
  Cargo.lock
  penguin-mux/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

Update rust deps
  Cargo.lock
  penguin/Cargo.toml
  penguin/src/tls/rustls.rs
Due: none

Add vim tag to systemd file
  tools/rusty-penguin.service
Due: none

Explicitly stop supporting client CA when using nativetls
  Cargo.lock
  penguin/src/tls/mod.rs
  penguin/src/tls/native.rs
  penguin/src/tls/rustls.rs
Due: none

cargo fmt changes
  penguin/src/server/acme/challenge_helper.rs
Due: server

Add missing feature gate flags in tests
  penguin/Cargo.toml
  penguin/src/arg.rs
  penguin/src/tests.rs
  penguin/src/tls/mod.rs
Due: none

Replace `Stdio` with `Join<Stdin, Stdout>`
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/socks/mod.rs
  penguin/src/client/handle_remote/tcp.rs
Due: client

Bump version to 0.8.3
  Cargo.lock
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  penguin-mux/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

Update dependabot.yml
  .github/dependabot.yml
Due: none

Catch more empty segments when parsing remotes
  penguin/src/parse_remote.rs
Due: none

Fix the misclassification of parsing error
  penguin/src/parse_remote.rs
Due: none

Path conditions:
  multiplexer: any of: penguin-mux/**
  server: any of: penguin/src/server/**
  client: any of: penguin/src/client/**
