Repository myzhang1029/penguin-rs: changes, and which Codecov flags are due for each by the changed paths.
All: multiplexer, server, client

Enable more cross building platforms
  .github/workflows/cross-releases.yml
  Cargo.toml
Due: none

Add prefer-post-quantum to rustls features
  penguin/Cargo.toml
Due: none

No longer rely on rustls-configured crypto provider in anticipation for rustls 0.24
  penguin/src/tls/rustls.rs
Due: none

Install default crypto provider for rustls
  Cargo.lock
  penguin/main.rs
  penguin/src/tests.rs
Due: none

Make rustls-keylog always on
  README.md
  penguin/Cargo.toml
  penguin/src/tls/rustls.rs
Due: none

Try rustls 0.24
  Cargo.lock
  penguin/Cargo.toml
  penguin/src/tls/mod.rs
  penguin/src/tls/rustls.rs
Due: none

GREASE experiment
  Cargo.lock
  penguin/Cargo.toml
  penguin/src/tls/rustls.rs
Due: none

Remove now-unneeded direct dep on tokio-rustls features
  Cargo.lock
  penguin/Cargo.toml
Due: none

Try to approximate Chromium TLS algorithms
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
  Cargo.lock
  penguin/Cargo.toml
  penguin/main.rs
  penguin/src/tests.rs
  penguin/src/tls/aws_lc_rs_chromium.rs
  penguin/src/tls/mod.rs
Due: none

Add GREASE ECH extension and support compress_certificate
  Cargo.lock
  penguin/Cargo.toml
  penguin/src/tls/rustls.rs
Due: none

Make the hyper clients use our `ClientConfig``
  Cargo.lock
  penguin/Cargo.toml
  penguin/src/server/mod.rs
  penguin/src/server/service.rs
  penguin/src/tls/native.rs
  penguin/src/tls/rustls.rs
Due: server

Remove the need for LazyLock for `Tls12CipherSuite`s
  penguin/src/tls/aws_lc_rs_chromium.rs
Due: none

Make meek-chromium env-controlled
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
  penguin/Cargo.toml
  penguin/src/tls/mod.rs
Due: none

Bump version to 0.8.4
  Cargo.lock
  fuzz/Cargo.lock
  penguin-mux/Cargo.toml
  penguin/Cargo.toml
Due: multiplexer

Record ping round trip time
  penguin-mux/src/task.rs
Due: multiplexer

Remove unfulfilled lint expectation
  penguin/src/tls/native.rs
Due: none

Build packages with proper release numbering
  .github/workflows/cross-releases.yml
  .github/workflows/macos-releases.yml
  .github/workflows/package.sh
  .gitignore
Due: none

Delete old nightly releases in the action script
  .github/workflows/cross-releases.yml
  .github/workflows/package.sh
Due: none

Update action versions
  .github/workflows/clippy.yml
  .github/workflows/cross-releases.yml
  .github/workflows/devskim.yml
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
  .github/workflows/stress.yml
Due: none

Unix Domain Socket localspec parsing support
  penguin/src/arg/remote_spec.rs
  penguin/src/client/handle_remote/mod.rs
Due: client

Restructure Tcp listeners to accept an `AsyncAcceptable` and implement uds listening
  penguin/src/arg/remote_spec.rs
  penguin/src/client/handle_remote/common.rs
  penguin/src/client/handle_remote/http.rs
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/socks/mod.rs
  penguin/src/client/handle_remote/tcp.rs
  penguin/src/client/handle_remote/tproxy.rs
Due: client

Fix non-http-proxy case
  penguin/src/client/handle_remote/mod.rs
Due: client

Use async fn in trait AsyncAcceptable
  penguin/src/client/handle_remote/common.rs
Due: client

Fix non-unix
  penguin/src/client/handle_remote/mod.rs
Due: client

No longer intend to support unix:tproxy
  penguin/src/arg/remote_spec.rs
  penguin/src/client/handle_remote/mod.rs
Due: client

Add uds test
  penguin/src/tests.rs
Due: none

Replace some `format!` with `concat!`
  penguin/src/arg/mod.rs
  penguin/src/server/acme/challenge_helper.rs
  penguin/src/server/acme/mod.rs
  penguin/src/server/service.rs
  penguin/src/tests.rs
Due: server

Update readme
  README.md
Due: none

Simplify uds/tcp handling
  penguin/src/client/handle_remote/common.rs
  penguin/src/client/handle_remote/mod.rs
Due: client

Unlink the socket before binding
  penguin/src/client/handle_remote/mod.rs
Due: client

Uniform `bind_tcp` and `bind_uds` in common
  penguin/src/client/handle_remote/common.rs
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/tcp.rs
Due: client

Add gha to dependabot
  .github/dependabot.yml
Due: none

Implement new `stdio` that conforms to `AsyncAcceptable`
  penguin/src/client/handle_remote/http.rs
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/socks/mod.rs
  penguin/src/client/handle_remote/stdio.rs
  penguin/src/client/handle_remote/tcp.rs
Due: client

Test the new `stdio` interface
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/stdio.rs
Due: client

Split `AsyncAcceptable` into its own crate
  Cargo.lock
  Cargo.toml
  async-acceptor/Cargo.toml
  async-acceptor/README.md
  async-acceptor/src/async_acceptable.rs
  async-acceptor/src/lib.rs
  async-acceptor/src/stdio.rs
  penguin/Cargo.toml
  penguin/src/client/handle_remote/common.rs
  penguin/src/client/handle_remote/http.rs
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/socks/mod.rs
  penguin/src/client/handle_remote/tcp.rs
Due: client

Let some tasks run only once
  penguin/src/client/handle_remote/common.rs
  penguin/src/client/handle_remote/http.rs
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/socks/mod.rs
  penguin/src/client/handle_remote/tcp.rs
  penguin/src/client/handle_remote/udp.rs
Due: client

Undo letting some tasks run only once
  penguin/src/client/handle_remote/common.rs
  penguin/src/client/handle_remote/http.rs
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/socks/mod.rs
  penguin/src/client/handle_remote/tcp.rs
  penguin/src/client/handle_remote/udp.rs
Due: client

Rename `handler_resources` to `hr`
  penguin/src/client/handle_remote/http.rs
  penguin/src/client/handle_remote/mod.rs
  penguin/src/client/handle_remote/socks/mod.rs
  penguin/src/client/handle_remote/tcp.rs
  penguin/src/client/handle_remote/tproxy.rs
  penguin/src/client/handle_remote/udp.rs
  penguin/src/client/mod.rs
  penguin/src/tests.rs
Due: client

Only delete old packages when pushing to main or tag
  .github/workflows/cross-releases.yml
  .github/workflows/package.sh
Due: none

Extract socks protocol into a crate
  Cargo.lock
  Cargo.toml
  penguin-socks/Cargo.toml
  penguin-socks/README.md
  penguin-socks/src/lib.rs
  penguin-socks/src/magics.rs
  penguin-socks/src/v4.rs
  penguin-socks/src/v5.rs
  penguin/Cargo.toml
  penguin/src/client/handle_remote/socks.rs
Due: client

Path conditions:
  multiplexer: any of: penguin-mux/**
  server: any of: penguin/src/server/**
  client: any of: penguin/src/client/**
